$background: #eee;
$color: #eee;
$tutorialBg: #333340;

html, body {
  background: $background;
  height: 100%;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.app {
  flex-grow: 4;
  padding: 2rem;

  .square {
    background: white;
    border: 2px solid gray;
    height: 10rem;
    width: 10rem;
  }
}

.tutorial {
  flex-basis: 20rem;
  flex-grow: 3;
  background: $tutorialBg;
  color: $color;
  padding: 2rem;
  overflow-y: scroll;

  .btn.next-section {
    margin-top: 2rem;
    float: right;
  }

  header {
    clear: both;
    margin-top: 1rem;
  }

  a {
    border-bottom: 1px dotted $color;
    color: $color;
    cursor: pointer;
    text-decoration: none;

    &.hint {
      font-size: 110%;
    }
  }

  p code, ul code {
    background: #3e3e4e;
    color: white;
  }

  pre {
    border: 0;
    background: none;
  }

  h1, h2, h3, h4 {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}

/* Accordion styles */
.react-sanfona {
  width: 100%;
}

.react-sanfona-item {
  margin-bottom: 1rem;

  h4 {
    margin: 0 0 0.5rem 0;
  }

  section {
    margin-bottom: 2rem;
  }

  .react-sanfona-item-body-wrapper {
    background: #3e3e4e;
    margin-top: 0.25rem;
    padding: 1rem;
  }

  .react-sanfona-item-title {
    font-size: 14pt;
  }

  &.react-sanfona-item-expanded .react-sanfona-item-title {
    font-weight: bold;
  }
}

@-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    50.01% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
}

.blink {
  -webkit-animation: blink 0.7s infinite linear alternate;
  -webkit-font-smoothing: antialiased;
}
