$background: #eee;
$color: #eee;
$tutorialBg: #333340;

html, body {
  background: $background;
  height: 100%;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.app {
  flex-grow: 1;
  padding: 2rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .game-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 44rem;
    width: 44rem;
  }

  .square {
    background: white;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14rem;
    width: 14rem;
    margin: 0 3px;

    & > img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.tutorial {
  flex-basis: 40rem;
  flex-grow: 1;
  font-size: 16px;
  background: $tutorialBg;
  color: $color;
  padding: 2rem;
  overflow-y: scroll;

  .btn.next-section {
    margin-top: 2rem;
    float: right;
  }

  header {
    clear: both;
    margin-top: 1rem;
  }

  a {
    border-bottom: 1px dotted $color;
    color: $color;
    cursor: pointer;
    text-decoration: none;

    &.hint {
      cursor: help;
      font-size: 110%;
    }
  }

  p code, ul code {
    background: #3e3e4e;
    color: white;
  }

  pre {
    border: 0;
    background: none;
  }

  h1, h2, h3, h4 {
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  h3, h4 {
    margin: 2rem 0 0.5rem 0;
  }
}

@-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    50.01% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
}

.blink {
  -webkit-animation: blink 0.7s infinite linear alternate;
  -webkit-font-smoothing: antialiased;
}
